# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build and cache
dist/
build/
.cache/
.tmp/
coverage/

# Database
*.sqlite
*.sqlite-journal
*.db
*.db-journal
*.sql
*.sql.gz
dump.rdb

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
*.vscode/
*.iml

# Debug
.nyc_output/
*.tgz

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
